// Add your custom CSS here.
.top-bar {
  display: none;
}
.product-card__buy button {
  background: #d69538
}
.header__toggler-icon, #user-button i, #cart-button i {
  color: #70655e !important;
}
#header {
  background: #ffede6;
}
.header__search {
  i {
    color: #70655e !important
  }

  input {
     background: #ffede6;
     border-bottom: .01px solid #70655e;
     border-radius: 0;
  }
}
.products-carousel__title {
  position: relative;
  border-bottom: 1px solid #efefef;
  text-align: start;
  padding: 0;
}
.products-carousel__title a {
   font-weight: 700;
   color: #d69538;
   text-transform: uppercase;
   border-bottom: 4px solid #d69538;
   padding-bottom: .2rem;
}
.products-carousel__title::before {
  background: none;
}

.header {
  @media(min-width: 767px) {
    &__row {
      display: flex;
      flex-direction: row;

      .col-auto.p-0 {
        order: 1
      }
      .col.col-lg-auto.pl-1.pl-md-2.pl-lg-3 {
        order: 2
      }
      .d-none.d-lg-block.col {
        order: 3
      }
      .d-none.d-lg-block.col-12 {
        order: 4;
      }
      .order-lg-last.col-auto.p-0 {
        order: 5
      }
    }
  }
}
.header__nav a {
  font-size: 18px !important;
  color: #70655e
}
@media  screen and (min-width: 1400px) and (max-width: 1510px) {
  .banner-slider {
    max-width: 100% !important;
    --banner-aspect-ratio: 0.421 !important;
  }
}

//desktop normal size
@media  screen and (min-width: 992px) and (max-width: 1400px) {
  //slider full
  .banner-slider {
    max-width: 100% !important;
  }
}
.footer__title {
  font-size: 18px !important;
    font-weight: 700;
    border: none;
    margin: 20px 0;
    letter-spacing: 0.50px;
    color: #d69538;
    h3 {
      font-size: 18px !important;
        font-weight: 700;
        letter-spacing: 0.50px;
        color: #d69538;
    }
}
.footer__list-icon {
  color: #d69538
}
.footer__span {
  color: #916464; font-weight: 700; font-size: 17px
}
.horario-atendimento {
    display: block;
    border-top: 1px solid #e8e8e8;
    padding-top: 13px;
    margin-top: 13px;
}
#rodape-2 {
  margin-top: 1.5rem;
}

.header__nav {
display: flex;
justify-content: space-around;
}
